$blue: #7c8194;

.root {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin: 30px 60px;
  position: relative;


  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

  }

  &Full {
    &:hover {
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}
